@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar border-bottom box-shadow">
	<div class="middle-content-container navbar-contents">
		<section>
			<b>
				<a asp-controller="Home" asp-action="Index">Web</a>
			</b>
			<a asp-controller="Home" asp-action="Index">Home</a>
			<a asp-controller="Home" asp-action="Privacy">Privacy</a>
		</section>
		<div class="flex-spacer"></div>
		<section>
			@if (SignInManager.IsSignedIn(User))
			{
				<a asp-controller="User" asp-action="">@UserManager.GetUserName(User)</a>

				<form asp-controller="User" asp-action="Logout" method="post">
					<input type="submit" value="Logout">
				</form>
			}
			else
			{
				<a asp-controller="User" asp-action="Login">Login</a>
				<a asp-controller="User" asp-action="Register">Register</a>
			}
		</section>
	</div>
</nav>
