@model ExamTemplate.Web.Models.User.LoginUserViewModel
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="User" asp-action="Login" method="post">
	<input type="text" asp-for="Username" placeholder="Username">
	<input type="password" asp-for="Password" placeholder="Password">
	<input type="submit">
</form>
