@model ExamTemplate.Web.Models.User.RegisterUserViewModel
@{
    ViewData["Title"] = "Register";
}

<form asp-controller="User" asp-action="Register" method="post">
	<input type="text" asp-for="FirstName" placeholder="FirstName">
	<input type="text" asp-for="LastName" placeholder="LastName">
	<input type="text" asp-for="Username" placeholder="Username">
	<input type="password" asp-for="Password" placeholder="Password">
	<input type="submit">
</form>
